results
work_dirs
weights/**/*.pth
weights/ssl_weights
weights/trained_ssl
data
**/*.pyc
*.zip
**/*.log
configs/models/*.py
configs/temporal_models/*.py
configs/models/ssl
latent_graphs/
sam_queries/
slurms
