results
work_dirs
weights/**/*.pth
weights/**/*.sh
weights/ssl_weights
weights/trained_ssl
data
**/*.pyc
*.zip
**/*.log
configs/models/*.py
configs/temporal_models/*.py
configs/models/ssl*
configs/models/small_wc
configs/models/wc
configs/temporal_models/small_wc
configs/temporal_models/wc
latent_graphs/
extracted_feats/
sam_queries/
slurms
mmdetection/
configs/datasets/transforms/
corruption_debug/
smoke_debug/
debug_images/
log_output/